<%- include('partials/header') %>

<h3>Gerenciar Usu치rios</h3>

<form method="POST" action="/admin/usuarios/nova" class="mb-4 mt-3">
  <div class="mb-2">
    <input type="text" name="nome" class="form-control" placeholder="Nome do usu치rio" required>
  </div>
  <div class="mb-2">
    <input type="email" name="email" class="form-control" placeholder="Email" required>
  </div>
  <div class="mb-2">
    <input type="password" name="senha" class="form-control" placeholder="Senha" required>
  </div>
  <button class="btn-m">Criar Usu치rio</button>
</form>

<h4>Usu치rios cadastrados</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Tipo</th>
    </tr>
  </thead>
  <tbody>
    <% usuarios.forEach(u => { %>
      <tr>
        <td><%= u.nome %></td>
        <td><%= u.email %></td>
        <td><%= u.tipo %></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<%- include('partials/footer') %>
